/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap'); */

:root {
    --fonte-principal: 'Open Sans';
    --background-default: #FFFBF3;
    --branco-default: #FFFFFF;
    --branco-secundario: #f2f2f2;
    --branco-terceiro: #ffffffa6;
    --cinza: #7c7979a6;
    --preto: rgba(0, 0, 0, 0.651);
    --sombra: rgba(0, 0, 0, 0.302);
    --sombra-media: rgba(0, 0, 0, 0.251);
    --sombra-form: rgba(0, 0, 0, 0.102);
    --fundo-form: #ffffff99;
    --borda-cinza: #ccc;
    --cinza-escuro: #999;
    --laranja: #FF8927;
    --laranja-claro: #ff892977;
    --verde-lido: #31D689;
    --verde-grama-introdutorio: #46A758;
    --azul-importante: #0090FF;
    --red-recomendado: #E5484D;
}