/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap'); */

:root {
    --fonte-principal: 'Open Sans';
    --background-default: #FFFBF3;
    --branco-default: #FFFFFF;
    --branco-secundario: #f2f2f2;
    --branco-terceiro: #f0f0f0;
    --cinza: rgba(124, 121, 121, 0.65);
    --preto: rgba(0, 0, 0, 0.65);
    --sombra: rgba(0, 0, 0, 0.30);
    --sombra-media: rgba(0, 0, 0, 0.25);
    --sombra-form: rgba(0, 0, 0, 0.1);
    --fundo-form: rgba(255, 255, 255, 0.6);
    --borda-cinza: #ccc;
    --cinza-escuro: #999;
    --laranja: #FF8927;
    --laranja-claro: #ff892977;
    --verde-grama-introdutorio: #46A758;
    --azul-importante: #0090FF;
    --red-recomendo: #E5484D;
}